<div class="modal-backdrop">
  <section>
    <fieldset>
        <legend>Actualizar Producto</legend>

        <form [formGroup]="formulario" (ngSubmit)="updateProduct()">
            
            <!--Name-->
            <div *ngIf="formulario.controls['imageUrl'].touched && formulario.controls['imageUrl'].invalid" class="error">
                Campo Requerido
            </div>
            <!------->

            <button type="submit" [disabled]="!formulario.valid">Actualizar</button>
            <button type="button" (click)="close()">Cancelar</button>

        </form>

    </fieldset>
</section>

</div>
